/* WePos React App - Tailwind CSS v4 */
@import "tailwindcss";
@import '@wedevs/plugin-ui/styles.css';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Source paths for Tailwind to scan */
@source "../../frontend";

/* Source paths for Tailwind to scan */
@source "../../../node_modules/@wedevs/plugin-ui/dist";
